#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Line_1 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Line_1 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Callout_1 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-89912a05-afc3-41d4-84b2-2956d34f725f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}